<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <meta charset="UTF-8">

    <!--Bootstrap-->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!--Font-Awesome-->
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- Application -->
    <script src="filter-module/app.js"></script>
    <script src="filter-module/controllers/filterController.js"></script>
    <script src="filter-module/filters/customFilterOne.js"></script>
    <script src="filter-module/filters/customFilterAnother.js"></script>

    <title>Filters</title>

</head>
<body data-ng-app="filterBasics" data-ng-controller="filterController">

    <div class="container">
        <h1>Filters;</h1>
        <hr>

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#filter" role="tab" data-toggle="tab">Filters</a></li>
            <li><a href="#builtin" role="tab" data-toggle="tab">Built-In</a></li>
            <li><a href="#custom" role="tab" data-toggle="tab">Custom Filters</a></li>
        </ul>

        <hr>

        <div class="tab-content">
            <div class="tab-pane active" id="filter">

                <div class="alert alert-info">
                    <p><strong>{{</strong>
                        <span class="text-danger">filter_expression</span>
                        |
                        <span class="text-info">filter</span>
                        :
                        <span class="text-success">expression</span>
                        :
                        <span class="text-primary">comparator</span>
                    <strong>}}</strong></p>

                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <!--EXPRESSION PANEL-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Expression</h2>
                            </div>
                            <div class="panel-body">
                                <p>Filtering data using default Comparator</p>
                                <form class="form-inline">
                                    <label class="control-label"><i class="fa fa-search"></i></label>
                                    &nbsp;
                                    <input class="form-control" placeholder="Filter" data-ng-model="searchTerm">
                                </form>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="info in someData | filter:searchTerm">
                                    {{ info }}
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xs-6">
                        <!--COMPARATOR PANEL-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Comparator</h2>
                            </div>
                            <div class="panel-body">
                                <p>Filtering data using custom Comparator</p>
                                <form class="form-inline">
                                    <label class="control-label"><i class="fa fa-search"></i></label>
                                    &nbsp;
                                    <input class="form-control" placeholder="Filter" data-ng-model="searchTermTwo">
                                </form>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" data-ng-repeat="info in someData | filter:searchTermTwo:superComparator">
                                    {{ info }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="builtin">

                <div class="row">
                    <!--Currency Filter-->
                    <div class="col-md-4">
                        <div class="alert alert-info">
                            <p>
                                <strong>{{</strong>
                                <span class="text-danger">currency_expression </span>
                                |
                                <span class="text-info">currency </span>
                                :
                                <span class="text-success">symbol</span>
                                <strong>}}</strong>
                            </p>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Currency Filter</h2>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline">
                                    <label class="control-label">
                                        <i class="fa fa-dollar"></i>
                                    </label>
                                    &nbsp;
                                    <input class="form-control" placeholder="Value" data-ng-model="cashAmount">
                                </form>
                                <br>
                                <p>
                                    {{ cashAmount | currency}} - no arguments
                                </p>
                                <p>
                                    {{ cashAmount | currency:"£" }} - custom symbol specified
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--Date Filter-->
                    <div class="col-md-4">
                        <div class="alert alert-info">
                            <p>
                                <strong>{{</strong>
                                <span class="text-danger">date_expression </span>
                                |
                                <span class="text-info">date </span>
                                :
                                <span class="text-success">format</span>
                                :
                                <span class="text-primary">timezone</span>
                                <strong>}}</strong>
                            </p>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Date Filter</h2>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline">
                                    <label class="control-label">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                    &nbsp;
                                    <input class="form-control" placeholder="Date" data-ng-model="inputDate">
                                </form>
                                <br>
                                <p>
                                    {{ inputDate | date }} - no arguments
                                </p>
                                <form>
                                    <label class="control-label">
                                        Specify Date Format
                                    </label>
                                    <select class="form-control" data-ng-model="dateFormat" data-ng-options="f for f in dateFormats"></select>
                                </form>
                                <br>
                                <p>
                                    {{ inputDate | date:dateFormat }} - custom date format
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--LimitTo Filter-->
                    <div class="col-md-4">
                        <div class="alert alert-info">
                            <p>
                                <strong>{{</strong>
                                <span class="text-danger">limitTo_expression  </span>
                                |
                                <span class="text-info">limitTo </span>
                                :
                                <span class="text-success">limit</span>
                                <strong>}}</strong>
                            </p>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">LimitTo Filter</h2>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline">
                                    <label class="control-label">
                                        <i class="fa fa-file-text"></i>
                                    </label>
                                    &nbsp;
                                    <input class="form-control" placeholder="Text" data-ng-model="inputText">
                                </form>
                                <br>
                                <input class="form-control" type="number" placeholder="Limit" data-ng-model="limitTextLength">
                                <br>
                                <p>
                                    {{ inputText | limitTo:limitTextLength }} - text limited to {{ limitTextLength }}
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="tab-pane" id="custom">

                <div class="alert alert-info">
                    <p>
                        <strong>{{</strong>
                        <span class="text-danger">value </span>
                        |
                        <span class="text-info">filter_name </span>
                        <strong>}}</strong>
                    </p>
                </div>


                <div class="row">


                    <!--Custom Filter 1-->
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Custom Filter</h2>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline">
                                    <label class="control-label">
                                        <i class="fa fa-dollar"></i>
                                    </label>
                                    &nbsp;
                                    <input class="form-control" placeholder="Value" data-ng-model="inputStr">
                                </form>
                                <br>
                                <p>
                                    {{ inputStr | customFilterOne:"asdad" }}
                                </p>
                            </div>
                        </div>
                    </div>


                    <!--Custom Filter 2-->
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Custom Filter 2</h2>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline">
                                    <label class="control-label">
                                        <i class="fa fa-dollar"></i>
                                    </label>
                                    &nbsp;
                                    <input class="form-control" placeholder="Value" data-ng-model="inputStr2">
                                </form>
                                <br>
                                <p>
                                    {{ inputStr2 | customFilterAnother }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--Custom Filter 1 from Controller-->
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">Custom Filter 1 (controller)</h2>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline">
                                    <label class="control-label">
                                        <i class="fa fa-dollar"></i>
                                    </label>
                                    &nbsp;
                                    <input class="form-control" placeholder="Value" data-ng-model="inputStr3">
                                </form>
                                <br>
                                <p>
                                    {{ doer(inputStr3) }}
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</body>
</html>